body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

#page {
  height: 100%;
}
#title {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

#slogan {
  color: grey;
  font-weight: bold;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  height: 80px;
  border-bottom: 1px solid lightgrey;
  border-top: 3px solid black;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  flex: 0 1 auto;
  margin-right: auto;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 70px;
  font-size: 25px;
}

#menu:hover {
  background-color: grey;
  color: white;
}

#side {
  display: flex;
  flex-direction: column;
  width: 25%;
  width: fixed;
  overflow: auto;
  height: 95vh;
  border-right: 1px solid lightgrey;
  
}

#addNote {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
}

#addNote > label {
  display: flex;
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#addNote > label:hover {
  background-color: grey;
  color: white;
}

#notes {
  text-align: center;
  color: grey;
  font-size: 24px;
  
  
}

#note {
  display: flex;
  flex-direction: column;
  background-color: grey;
  color: white;
  height: 85px;
  text-align: left;
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 20px;
  justify-content: space-between;
  border:1px solid white;
}

#underHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#middle {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  font-weight: bold;
  color: grey;
  font-size: 30px;
}

#edit {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 75%;
  font-weight: bold;
  color: grey;
  font-size: 30px;
}
#quill {
  
  width: 100%;
  height: 100vh;
  color: black;
  font-weight: 100;
}

#edit-box {
  display: flex;
  overflow: auto;
}
#title-edit {
  width: 60%;
  height: 75px;
  font-size: 30px;
  border: none;
  outline: none;
  padding-left: 8px;
}

#title-view {
  width: 60%;
  height: 75px;
  font-size: 30px;
  border: none;
  outline: none;
  padding-left: 8px;
  color: black;
  display: flex;
  align-items: center;
  
}

#note-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#note-title-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  
}

#save {
  color: black;
  font-size: 18px;
  display: flex;
  height: 75px;
  width: 60px;
  align-items: center;
  justify-content: center;
}
#save:hover {
  background-color: grey;
  color: white;
}
#idkman {
  display: flex;
  flex-direction: row;
}

#view-content {
  font-size: 15px;
  font-weight: 100;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  word-wrap: break-word;

}

#note-content-side {
  font-size: 12px;
  overflow: auto;
}
